// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
        "60procent": #F5F1EB,
        "30procent": #D6D0AA,
        "menucolor": #F6BCAB,
        "textcolor": #3B2F23,
        "10procent": #9D5541,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../node_modules/bootstrap/scss/bootstrap";

@import "bootstrapComponents";

// 5. Du kan lave styling her...

/* H1 */
// <weight>: Use a value from 400 to 700
.Overskrift {
  font-family: "Baskervville", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 80px
}

/* H2 */
.Underoverskrift {
  font-family: "Baskervville", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 40px;
}

/* P */
.Brodtekst {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
  line-height: 30px;
}
